<form th:action="@{/home}" method="get">
    <button type="submit" id="homeButton">Home</button>
</form>
<form th:action="@{/artist-search-home}" method="get">
    <button type="submit" id="searchButton">Search another artist</button>
</form>
<h1>Results</h1>
<h3 style = "margin-left: 40px;">Artist name | id | genres</h3>
<tr th:each="artistGenre:${artistGenres}">
    <div>
        <img th:src="${artistGenre.imageUrl}" width="35" height="35" style="vertical-align: middle;">
        <span style="vertical-align: middle;" th:text="${artistGenre.name}">Name</span>
        <span>|</span>
        <span style="vertical-align: middle;" th:text="${artistGenre.id}">Id</span>
        <span>|</span>
        <span style="vertical-align: middle;" th:text="${artistGenre.genres}">Genres</span>
    </div>
    <br>
</tr>