<form th:action="@{/sort}" th:object="${playlistSortRequest}" method="get">
    <p>Required</p>
    <input type="text" id="playlistIdSource" name="playlistIdSource" placeholder="Source playlist id"/>
    <input type="text" id="playlistIdDestination" name="playlistIdDestination" placeholder="Destination playlist id"/>
    <p>Must fill out at least one of these fields</p>
    <input type="text" id="genres" name="genres" placeholder="Comma separated genres"/>
    <input type="text" id="genresExactMatch" name="genresExactMatch" placeholder="Genres exact match"/>
    <p>This field is overridden by the exact match field above</p>
    <input type="text" id="genresExactExclude" name="genresExactExclude" placeholder="Specific genres to exclude"/>
    <br><br>
    <button type="submit" id="startButton" onClick="myFunction()">Start</button>
    <H1 id="demo"></H1>
    <script>
        function myFunction() {
            document.getElementById("demo").innerHTML = "In Progress";
            document.getElementById("startButton").style.display = "none";
        }
    </script>
</form>